.resetPsw-list(layout='row')
  span(flex='')
  div(layout='column')
    h1 ResetPsw
    form.md-whiteframe-z1(ng-submit='save()', name='form', novalidate='', layout-padding='')
      p Add a resetPsw
      md-input-container
        label Name
        input(ng-model='newResetPsw.name', placeholder='Name')
      input.md-button(type='submit', value='Add')
    div(layout='row', layout-padding='')
      md-input-container(flex='65')
        label Search
        input(type='search', ng-model='search', placeholder='Search')
      md-select(ng-model='orderProperty', flex='35')
        md-option(value='1') Ascending
        md-option(value='-1') Descending

    ul
      li(dir-paginate='resetPsw in resetPsw | itemsPerPage: perPage', total-items='resetPswCount.count',  current-page='page')
        p 
          a(href='/reset-psw/{{resetPsw._id}}') {{ resetPsw.name }}
          button(ng-click='remove(resetPsw)') &times;
    dir-pagination-controls.md-accent(on-page-change='pageChanged(newPageNumber)')

    p Total number of resetPsw: {{resetPswCount.count}}
  span(flex='')