.signup-list(layout='row')
  span(flex='')
  div(layout='column')
    h1 Signup
    form.md-whiteframe-z1(ng-submit='save()', name='form', novalidate='', layout-padding='')
      p Add a signup
      md-input-container
        label Name
        input(ng-model='newSignup.name', placeholder='Name')
      input.md-button(type='submit', value='Add')
    div(layout='row', layout-padding='')
      md-input-container(flex='65')
        label Search
        input(type='search', ng-model='search', placeholder='Search')
      md-select(ng-model='orderProperty', flex='35')
        md-option(value='1') Ascending
        md-option(value='-1') Descending

    ul
      li(dir-paginate='signup in signup | itemsPerPage: perPage', total-items='signupCount.count',  current-page='page')
        p 
          a(href='/signup/{{signup._id}}') {{ signup.name }}
          button(ng-click='remove(signup)') &times;
    dir-pagination-controls.md-accent(on-page-change='pageChanged(newPageNumber)')

    p Total number of signup: {{signupCount.count}}
  span(flex='')